.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8ad;
}
.loader1 {
  left: 50%;
  top: 30%;
  z-index: 1000;
  position: absolute;
}
.profile-pic-uploader {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.im {
  background-image: url('../../../content/images/loading.gif');
}
